@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Обнуляющий файл
@import "nullstyle.scss";


html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	&.lock {
		overflow: hidden;
	}
}

.ibg {

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {

	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

.header {
	position: absolute;
	top: 0;
	z-index: 100;
	left: 0;
	padding: 60px 15px 0 15px;
	width: 100%;

	&__body {
		display: flex;
	}
	&__logo {
		flex: 1 1 15%;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		flex: 1 1 85%;
		align-items: center;
	}
	&__list {
		display: flex;
		flex: 0 0 90%;
		justify-content: end;
		li {
			margin: 0 0 0 30px;
		}
	}
	&__link {
		font-size: 1.563rem;
		font-weight: 600;
		color: #fff;
	}
	&__button {
		display: flex;
		flex: 0 0 10%;
		justify-content: end;
	}
	&__form {
		position: relative;
	}
	&__input {
		position: absolute;
		bottom: -45px;
		right: 0;
		height: 40px;
		padding: 10px;
		border: 1px solid #f6d365;
		display: none;
		&.active {
			display: block;
		}
	}
	&__btn {
		background: none;
	}
	@media(max-width:767px) {
		
	&__burger {
		width: 30px;
		height: 20px;
		position: relative;
		right: 0;
		top: 0;
		z-index: 3;
		span {
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			top: 8px;
			left: 0;
			transition: all 0.2s linear 0s;
		}
		&::before {
			content: '';
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.2s linear 0s;
		}
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			bottom: 1px;
			left: 0;
			transition: all 0.2s linear 0s;
		}
		&.active {
			span {opacity: 0;}
			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
	}
	&__menu {
		position: fixed;
		top: -100%;
		left: 0;
		flex-direction: column;
		background: #f6d365;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s linear 0s;
		&::before {
			content: '';
			width: 166px;
			height: 174px;
			background: url(../img/vector_tomate-or.png) 0 0/ contain no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			animation-name: tomate-rotate;
			animation-duration: 7s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 150px;
			height: 150px;
			background: url(../img/vector-egg-or.png) 0 0/ contain no-repeat;
			position: absolute;
			bottom: 15px;
			right: 15px;
			z-index: -1;
			animation-name: egg-rotate;
			animation-duration: 13s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&.active {
			top: 0;
		}
	}
	&__list {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 50px 0 0 0;
		flex: 0 0 80%;
		li {
			margin: 0;
		}
	}
	&__link {
		color: #333;
		font-size: 3rem;
	}
	&__button {
		align-items: start;
		
	}
	&__btn {
		display: block;
		&.active {
			display: block;
			position: absolute;
			left: 100px;
		}
	}
	&__input {
		position: absolute;
		bottom: -35px;
		right: -70px;
		height: 40px;
	}
	}
}
//=========================

.main {
	position: relative;
	background: rgba(0, 0, 0, 0.4);
	padding: 260px 15px 200px 15px;
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 860px;
		margin: 0 auto;
	}
	&__title {
		text-transform: uppercase;
		font-size: 6.875rem;
		text-align: center;
		font-weight: 700;
		color: #fff;
	}
	&__text {
		font-size: 1.844rem;
		text-align: center;
		color: #fff;
		padding: 50px 0 59px 0;
	}
	&__button {
		max-width: 100%;
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		width: 320px;
		height: 65px;
		font-size: 1.469;
		font-weight: 777;
		color: #333;
		border-radius: 4px;
		background-color: #f6d365;
		transition: all 0.3s linear 0s;
		&:hover {
			box-shadow: 0 0 10px #f6d365;
			transform: scale(1.03);
		}
	}
	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	@media(max-width:767px) {
		padding: 260px 15px 100px 15px;
		&__title {
			font-size: 5rem;
		}
	}
	@media(max-width:424px) {
		padding: 260px 15px 100px 15px;
		&__title {
			font-size: 3.5rem;
		}
		&__text {
			font-size: 1.4rem;
		}
	}
}

//------------

.menu {
	position: relative;
	background: #f6d365;
	padding: 100px 15px;
	&::before {
		content: '';
		width: 130%;
		height: 100%;
		background: url(../img/menu_bg-icons.png) center no-repeat;
		background-attachment: fixed;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__top {
		text-align: center;
	}
	&__title {
		text-transform: uppercase;
		font-size: 3.938rem;
		font-weight: 700;
		color: #333;
	}
	&__text {
		padding: 50px 0 55px 0;
		font-size: 1.563rem;
		max-width: 700px;
		color: #333;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__column {
		flex: 0 1 30%;
	}
	@media(max-width:767px) {
		&::before {
			display: none;
		}
		&__row {
			flex-wrap: wrap;
			row-gap: 50px;
			column-gap: 20px;
		}
		&__column {
			flex: 1 1 45%;
		}
		&__column:last-child {
			flex: 1 1 100%;
			
		}
	}
	@media(max-width:424px) {
		&__column {
			flex: 1 1 100%;
		}
		&__title {
			font-size: 3.5rem;
		}
		&__text {
			font-size: 1.4rem;
		}
	}
}

.items-menu {
	&__body {
		text-align: center;
	}
	&__image {
		img {
			display: block;
			max-width: 100%;
			width: 320px;
			margin: 0 auto;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
		}
	}
	&__title {
		padding: 22px 0 30px 0;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2.063rem;
		color: #333;
	}
	&__text {
		font-size: 1.188rem;
		color: #333;
	}
}

//------------

.chicken {
	padding: 70px 15px;
	background: #333333;
	position: relative;
	overflow: hidden;
	&__body {
		position: relative;
		z-index: 2;
	}
	&__row {
		display: flex;
		align-items: center;
	}
	&__column {
		margin: 0 5px;
		flex: 1 1 50%;
	}
	&__element-1 {
		&::before {
			content: '';
			width: 181px;
			height: 256px;
			background: url(../img/vector-tomate-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 20px;
			left: -80px;
			animation-name: element-rotate;
			animation-duration: 10s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 228px;
			height: 215px;
			background: url(../img/vector-tomate-w.png) 0 0/contain no-repeat;
			position: absolute;
			bottom: 40px;
			right: 40px;
			animation-name: element-rotaterev;
			animation-duration: 10s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&__element-2 {
		&::before {
			content: '';
			width: 74px;
			height: 101px;
			background: url(../img/vector-basil-w.png) 0 0/contain no-repeat;
			position: absolute;
			bottom: 40px;
			left: 0;
			animation-name: element-rotaterev;
			animation-duration: 6s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 74px;
			height: 101px;
			background: url(../img/vector-basil-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 80px;
			left: 60%;
			animation-name: element-rotaterev_2;
			animation-duration: 5s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&__element-3 {
		&::before {
			content: '';
			width: 121px;
			height: 129px;
			background: url(../img/vector-parsley-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 70px;
			left: 43%;
			animation-name: element-rotate_2;
			animation-duration: 15s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 121px;
			height: 129px;
			background: url(../img/vector-parsley-w.png) 0 0/contain no-repeat;
			position: absolute;
			bottom: 40px;
			left: 60%;
			animation-name: element-rotaterev;
			animation-duration: 8s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&__element-4 {
				&::before {
			content: '';
			width: 91px;
			height: 91px;
			background: url(../img/vector-cinnamon-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 250px;
			right: 30px;
			animation-name: element-rotate_2;
			animation-duration: 15s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 91px;
			height: 91px;
			background: url(../img/vector-cinnamon-w.png) 0 0/contain no-repeat;
			position: absolute;
			bottom: 20px;
			left: 45%;
			animation-name: element-rotaterev;
			animation-duration: 8s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&::before {
		content: '';
		width: 202px;
		height: 285px;
		background: url(../img/vector-egg-w.png) 0 0/contain no-repeat;
		position: absolute;
		top: -80px;
		right: -80px;
		animation-name: element-rotate;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@media(max-width:1023px) {
		&__element-3 {
			display: none;
		}
	}
	@media(max-width:680px) {
		&__row {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 60px;
		}
		&__column {
			flex: 1 1 100%;
		}
		&__element-4 {
			display: none;
		}
	}
}

.item-chicken {

	&__body {
		color: #fff;

		
	}
	&__image {
		display: block;
		max-width: 100%;
	}

	&__title {
		text-transform: uppercase;
		font-size: 3.625rem;
		font-weight: 700;
	}
	&__text {
		display: block;
		padding: 60px 0 70px 0;
		font-size: 1.875rem;
	}
	&__button {}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 320px;
		height: 65px;
		text-transform: uppercase;
		font-size: 1.469rem;
		font-weight: bold;
		color: #333;
		background: #f6d365;
		border-radius: 4px;
		transition: all 0.3s linear 0s;
		&:hover {
			box-shadow: 0 0 10px #f6d365;
			transform: scale(1.03);
		}
	}
	@media(max-width:680px) {
		&__body {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
		&__btn {
			width: 250px;
		}
	}
}

//------------

.statics {
	position: relative;
	background: #f6d365;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: url(../img/statics_element_bg.png) center no-repeat;
		background-attachment: fixed;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__body {
		position: relative;
		z-index: 2;
		padding: 95px 15px;
	}
	&__top {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		text-transform: uppercase;
		font-size: 3.938rem;
		font-weight: 700;
		color: #333;
	}
	&__text {
		padding: 50px 0 55px 0;
		font-size: 1.563rem;
		max-width: 700px;
		color: #333;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__column {
		flex: 0 0 30%;
	}
	@media(max-width:767px) {
		&::before {
			display: none;
		}
		&__row {
			flex-wrap: wrap;
			column-gap: 10px;
			row-gap: 10px;
		}
		&__column {
			flex: 1 1 49%;
		}
		&__column:last-child {
			flex: 1 1 100%;
		}
	}
	@media(max-width:424px) {
		&__title {
			font-size: 3.5rem;
		}
		&__text {
			font-size: 1.4rem;
		}
	}
}

.item-statics {
	&__body {
		border: solid 10px #333;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 95px 0;
	}
	&__title {
		font-size: 4.688rem;
		color: #333;
		font-weight: 700;
		padding: 0 0 50px 0;
	}
	&__subtitle {
		font-size: 2.125rem;
		color: #333;
		font-weight: 700;
	}
}

//------------

.satay {
	padding: 70px 15px;
	background: #333333;
	position: relative;
	overflow: hidden;
	&__body {
		position: relative;
		z-index: 2;
	}
	&__row {
		display: flex;
		align-items: center;
	}
	&__column {
		margin: 0 5px;
		flex: 1 1 50%;
	}
	&__element-1 {
		&::before {
			content: '';
			width: 181px;
			height: 256px;
			background: url(../img/vector-tomate-w.png) 0 0/contain no-repeat;
			position: absolute;
			bottom: 30px;
			left: 10px;
			animation-name: element-rotate;
			animation-duration: 10s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 228px;
			height: 215px;
			background: url(../img/vector-tomate-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 50px;
			right: -100px;
			animation-name: element-rotaterev;
			animation-duration: 10s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&__element-2 {
		&::before {
			content: '';
			width: 74px;
			height: 101px;
			background: url(../img/vector-basil-w.png) 0 0/contain no-repeat;
			position: absolute;
			right: 0;
			top: 50%;
			animation-name: element-rotaterev;
			animation-duration: 6s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 74px;
			height: 101px;
			background: url(../img/vector-basil-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 40px;
			left: 30%;
			animation-name: element-rotaterev_2;
			animation-duration: 5s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&__element-3 {
		&::before {
			content: '';
			width: 121px;
			height: 129px;
			background: url(../img/vector-parsley-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 80px;
			left: 50%;
			animation-name: element-rotate_2;
			animation-duration: 15s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 121px;
			height: 129px;
			background: url(../img/vector-parsley-w.png) 0 0/contain no-repeat;
			position: absolute;
			bottom: 20px;
			left: 30%;
			animation-name: element-rotaterev;
			animation-duration: 8s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&__element-4 {
				&::before {
			content: '';
			width: 91px;
			height: 91px;
			background: url(../img/vector-cinnamon-w.png) 0 0/contain no-repeat;
			position: absolute;
			top: 40%;
			left: -45px;
			animation-name: element-rotate_2;
			animation-duration: 15s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		&::after {
			content: '';
			width: 91px;
			height: 91px;
			background: url(../img/vector-cinnamon-w.png) 0 0/contain no-repeat;
			position: absolute;
			bottom: 140px;
			left: 53%;
			animation-name: element-rotaterev;
			animation-duration: 8s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&::before {
		content: '';
		width: 202px;
		height: 285px;
		background: url(../img/vector-egg-w.png) 0 0/contain no-repeat;
		position: absolute;
		top: 10px;
		left: 10px;
		animation-name: element-rotate;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	&::after {
		content: '';
		width: 202px;
		height: 285px;
		background: url(../img/vector-egg-w.png) 0 0/contain no-repeat;
		position: absolute;
		bottom: -70px;
		right: 10px;
		animation-name: element-rotaterev;
		animation-duration: 6s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@media(max-width:1023px) {

	}
	@media(max-width:767px) {
		&__row {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 60px;
		}
		&__column:last-child {
			order: 1;
		}
		&__column:first-child {
			order: 2;
		}
		&__column {
			flex: 1 1 100%;
		}
		&__element-1 {
			&::before {
				bottom: 150px;
			}
		}
		&__element-3 {
			&::after {
				left: 20%;
			}
		}
		&__element-4 {
			&::after {
				bottom: 200px;
			}
		}
	}
	@media(max-width:424px) {
		&__element-3, &__element-1 {
			display: none;
		}
		&__element-4 {
			&::after {
				left: 30px;
				bottom: 250px;
			}
		}
	}
}

.item-satay {

	&__body {
		color: #fff;

		
	}
	&__image {
		display: block;
		max-width: 100%;
	}

	&__title {
		text-transform: uppercase;
		font-size: 3.625rem;
		font-weight: 700;
	}
	&__text {
		display: block;
		padding: 60px 0 70px 0;
		font-size: 1.875rem;
	}
	&__button {}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 320px;
		height: 65px;
		text-transform: uppercase;
		font-size: 1.469rem;
		font-weight: bold;
		color: #333;
		background: #f6d365;
		border-radius: 4px;
		transition: all 0.3s linear 0s;
		&:hover {
			box-shadow: 0 0 10px #f6d365;
			transform: scale(1.03);
		}
	}
	@media(max-width:767px) {
		&__body {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		}
		&__btn {
			width: 250px;
		}
	}
	@media(max-width:424px) {
		&__title {
			font-size: 2.5rem;
		}
		&__text {
			font-size: 1.3rem;
		}
	}
}

//----------

.harris {
	position: relative;
	
	&__body {
		text-align: center;
		padding: 90px 15px 200px 15px;
		max-width: 1000px;
		margin: 0 auto;
	}
	&__img {}
	&__text {
		padding: 84px 0 53px 0;
		color: #333;
		font-size: 2.375rem;
	}
	&__title {
		color: #333;
		font-size: 2.813rem;
		font-weight: 700;
	}
	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		opacity: 0.3;
	}
	@media(max-width:630px) {
		&__title {
			font-size: 2rem;
		}
		&__text {
			font-size: 1.8rem;
		}
	}
}

//----------

.update {
	position: relative;
	background: #f6d365;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background: url(../img/update_element_bg.png) center no-repeat;
		background-attachment: fixed;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 180px 15px 200px 15px;
	}
	&__title {
		text-align: center;
		text-transform: uppercase;
		font-size: 3.938rem;
		font-weight: 700;
		color: #333;
	}
	&__text {
		text-align: center;
		padding: 50px 0 55px 0;
		font-size: 1.563rem;
		max-width: 700px;
		color: #333;
	}
	&__form {
		display: flex;
		width: 100%;
		max-width: 880px;
		height: 63px;
	}
	&__input {
		flex: 1 1 70%;
		display: flex;
		align-items: center;
		padding: 0 0 0 20px;
		font-size: 1.3rem;
		&::placeholder {
			font-size: 1.563rem;
			color: rgba(51, 51, 51, 0.5);
		}
	}
	&__button {
		flex: 1 1 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #333333;
		color: #fff;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 700;
	}
	@media(max-width:767px) {
		&::before {
				display: none;
			}
	}
	@media(max-width:600px) {
		&__title {
			font-size: 3.4rem;
		}
		&__text {
			font-size: 1.3rem;
		}
		&__button {
			font-size: 1.2rem;
		}
	}
	@media(max-width:374px) {
		&__form {
			flex-direction: column;
			height: 100%;
			row-gap: 15px;
		}
		&__input {
			min-height: 50px;
		}
		&__button {
			min-height: 50px;
		}
	}
}

.page {
	flex: 1 1 auto;
}

//=========================

.footer {
	background: #333;
	padding: 200px 15px;
	&__body {}
	&__row {
		display: flex;
		column-gap: 50px;
	}
	&__column-title {
		flex: 2;
	}
	&__column-about {
		flex: 1;
		display: flex;
		justify-content: end;
	}
	&__column-services {
		flex: 1;
		display: flex;
		justify-content: end;
	}
	&__column-other {
		flex: 1;
		display: flex;
		justify-content: end;
	}
	@media(max-width:767px) {
		&__row {
			flex-wrap: wrap;
			row-gap: 50px;
		}
		&__column-about {
			justify-content: center;
			flex: 1 1 50%;
		}
		&__column-services {
			justify-content: center;
			flex: 1 1 33%;
		}
		&__column-other {
			justify-content: center;
			flex: 1 1 33%;
		}
	}
	@media(max-width:560px) {
		&__column-about {flex: 2;}
		&__column-other {display: none;}
		&__column-services {display: none;}
	}
}

.item-title {

	&__body {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 1.875rem;
		color: #fff;
	}
	&__text {
		padding: 35px 0;
		color: #fff;
		font-size: 1.438rem;
	}
	&__list {
		display: flex;
		column-gap: 15px;
	}
	&__link {}
}

.item-about {

	&__body {
		display: flex;
		flex-direction: column;
	}
	&__title {
		padding: 0 0 35px 0;
		font-size: 1.875rem;
		color: #fff;
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__link {
		color: #fff;
		font-size: 1.438rem;
	}
}

.item-services {

	&__body {}
	&__title {
		padding: 0 0 35px 0;
		font-size: 1.875rem;
		color: #fff;
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__link {
		color: #fff;
		font-size: 1.438rem;
	}
}

.item-other {

	&__body {}
	&__title {
		padding: 0 0 35px 0;
		font-size: 1.875rem;
		color: #fff;
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
	&__link {
		color: #fff;
		font-size: 1.438rem;
	}
}


@keyframes tomate-rotate {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(-15deg);
	}
	66% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0);
	}
}
@keyframes egg-rotate {
	0% {
		transform: rotate(0);
	}

	33% {
		transform: rotate(15deg);
	}

	66% {
		transform: rotate(-15deg);
	}

	100% {
		transform: rotate(0);
	}
}

@keyframes element-rotate {
	0% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(-10deg);
	}
	66% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes element-rotaterev {
	0% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(10deg);
	}
	66% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes element-rotate_2 {
	0% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(-20deg);
	}
	66% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes element-rotaterev_2 {
	0% {
		transform: rotate(0deg);
	}
	33% {
		transform: rotate(20deg);
	}
	66% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}